In [1]:
import pandas as pd

In [3]:
bond=pd.read_csv('jamesbond.csv')
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [6]:
bond_idx=pd.read_csv('jamesbond.csv',index_col='Film')
bond_idx.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [12]:
#suppoese we dont have index_col then how can we set index
bond.set_index(keys='Film',inplace=True) #keys represent column or column names that are made indexes
#we can make multiple columns as index
#inplace=False by default
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [13]:
#how can we go back
bond.reset_index() #by default drop=False
#if we want to remove film column we can set drop=True

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [18]:
bond.set_index(keys='Film')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [22]:
bond.set_index('Year')

,Film,Actor,Director,Box Office,Budget,Bond Actor Salary
Year,,,,,,
1962,Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
1963,From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
1964,Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2
1965,Thunderball,Sean Connery,Terence Young,848.1,41.9,4.7
1967,Casino Royale,David Niven,Ken Hughes,315.0,85.0,NaN
1967,You Only Live Twice,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
1969,On Her Majesty's Secret Service,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
1971,Diamonds Are Forever,Sean Connery,Guy Hamilton,442.5,34.7,5.8
1973,Live and Let Die,Roger Moore,Guy Hamilton,460.3,30.8,NaN
1974,The Man with the Golden Gun,Roger Moore,Guy Hamilton,334.0,27.7,NaN
1977,The Spy Who Loved Me,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
1979,Moonraker,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
1981,For Your Eyes Only,Roger Moore,John Glen,449.4,60.2,NaN
1983,Never Say Never Again,Sean Connery,Irvin Kershner,380.0,86.0,NaN
1983,Octopussy,Roger Moore,John Glen,373.8,53.9,7.8
1985,A View to a Kill,Roger Moore,John Glen,275.2,54.5,9.1
1987,The Living Daylights,Timothy Dalton,John Glen,313.5,68.8,5.2
1989,Licence to Kill,Timothy Dalton,John Glen,250.9,56.7,7.9
1995,GoldenEye,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
1997,Tomorrow Never Dies,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
1999,The World Is Not Enough,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
2002,Die Another Day,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
2006,Casino Royale,Daniel Craig,Martin Campbell,581.5,145.3,3.3
2008,Quantum of Solace,Daniel Craig,Marc Forster,514.2,181.4,8.1
2012,Skyfall,Daniel Craig,Sam Mendes,943.5,170.2,14.5
2015,Spectre,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [9]:
bond_2=pd.read_csv('jamesbond.csv')
bond_2.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [10]:
bond_2.set_index(keys='Film',inplace=True)
bond_2.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [12]:
#we want to make year as index
#we can reset index inplace and then set index year
bond_2.reset_index(inplace=True)
bond_2.head()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [13]:
bond_2.set_index('Year',inplace=True)
bond_2.head()

,Film,Actor,Director,Box Office,Budget,Bond Actor Salary
Year,,,,,,
1962,Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
1963,From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
1964,Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2
1965,Thunderball,Sean Connery,Terence Young,848.1,41.9,4.7
1967,Casino Royale,David Niven,Ken Hughes,315.0,85.0,NaN

### Retrieve Rows by Index Label with .loc[] Accessor

In [14]:
bond_3=pd.read_csv('jamesbond.csv')
bond_3.head()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [15]:
bond_3.loc[2]

Film                   Goldfinger
Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: 2, dtype: object

In [19]:
bond_3.set_index('Film',inplace=True)

In [20]:
bond_3.sort_index(inplace=True)

In [21]:
bond_3.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [24]:
bond_3.loc['Goldfinger'] #pass index label
#loc[] returns that row

Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object

In [25]:
bond_3.loc['goldeneye'] #as index doesnt exists it gives error

KeyError: 'goldeneye'

In [26]:
bond_3.loc['Casino Royale'] #as multiple rows have this index 
#dataframe is returned

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [27]:
bond_3.loc["Diamonds Are Forever":"From Russia with Love"]
#start_index:end_index

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6

In [29]:
bond_3.loc['GoldenEye':]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [30]:
bond_3.loc[:"On Her Majesty's"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8

In [36]:

bond_3.loc[['Die Another Day','Octopussy']]
#lists of values can be provided to get row corresponding to particular index

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8

In [38]:
bond_3.loc[['Octopussy','Die Another Day']]
#we can pass indexes in different order

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [40]:
'Gold Bond' in bond_3.index #to check if index present or not

False

In [41]:
'Octopussy' in bond_3.index

True

## Retrieve rows by Index Position with iloc Accessor

In [42]:
bond_4=pd.read_csv('jamesbond.csv')
bond_4.head()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [43]:
bond_4.iloc[0]

Film                        Dr. No
Year                          1962
Actor                 Sean Connery
Director             Terence Young
Box Office                   448.8
Budget                         7.0
Bond Actor Salary              0.6
Name: 0, dtype: object

In [44]:
bond_4.iloc[15]

Film                 A View to a Kill
Year                             1985
Actor                     Roger Moore
Director                    John Glen
Box Office                      275.2
Budget                           54.5
Bond Actor Salary                 9.1
Name: 15, dtype: object

In [45]:
bond_4.iloc[[15,20]]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5

In [46]:
bond_4.iloc[100] #if index not there then error

IndexError: single positional indexer is out-of-bounds

In [48]:
bond_4.iloc[4:8] #in loc upper index is included 
#whereas in iloc upper index is not included

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8

In [49]:
bond_4.iloc[20:]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [50]:
bond_4.iloc[:5]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [51]:
bond_4.set_index('Film',inplace=True)
bond_4.sort_index(inplace=True)
bond_4.head()
#as film becomes index doesnt means numerical index doesnt exists
#we can still use iloc

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [53]:
bond_4.iloc[10]

Year                           1989
Actor                Timothy Dalton
Director                  John Glen
Box Office                    250.9
Budget                         56.7
Bond Actor Salary               7.9
Name: Licence to Kill, dtype: object

In [54]:
bond_4.iloc[[10,20]]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN

In [56]:
bond_4.iloc[[10,20,100]] #100 doesnt exists and hence error thrown

IndexError: positional indexers are out-of-bounds

## Passing Second Arguments to ```loc``` and ```iloc``` Accessors

In [57]:
bond_5=pd.read_csv('jamesbond.csv',index_col='Film')
bond_5.sort_index(inplace=True)
bond_5.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [58]:
bond_5.loc['Moonraker']

Year                          1979
Actor                  Roger Moore
Director             Lewis Gilbert
Box Office                   535.0
Budget                        91.5
Bond Actor Salary              NaN
Name: Moonraker, dtype: object

In [59]:
# if we want to specify which column do i want to specifically access
#for 'Moonraker' row we can specify second argument
bond_5.loc['Moonraker','Actor'] #loc[row,col]

'Roger Moore'

In [60]:
bond_5.loc['Moonraker','Director']

'Lewis Gilbert'

In [61]:
bond_5.loc['Moonraker',['Director','Box Office']]

Director      Lewis Gilbert
Box Office            535.0
Name: Moonraker, dtype: object

In [64]:
bond_5.loc[['Moonraker','A View to a Kill'],['Director','Box Office']]

                       Director  Box Office
Film
Moonraker         Lewis Gilbert       535.0
A View to a Kill      John Glen       275.2

In [65]:
bond_5.loc['Moonraker','Director':'Budget']

Director      Lewis Gilbert
Box Office            535.0
Budget                 91.5
Name: Moonraker, dtype: object

In [66]:
bond_5.loc['Moonraker':'Thunderball','Director':'Budget']

                                       Director  Box Office  Budget
Film
Moonraker                         Lewis Gilbert       535.0    91.5
Never Say Never Again            Irvin Kershner       380.0    86.0
Octopussy                             John Glen       373.8    53.9
On Her Majesty's Secret Service   Peter R. Hunt       291.5    37.3
Quantum of Solace                  Marc Forster       514.2   181.4
Skyfall                              Sam Mendes       943.5   170.2
Spectre                              Sam Mendes       726.7   206.3
The Living Daylights                  John Glen       313.5    68.8
The Man with the Golden Gun        Guy Hamilton       334.0    27.7
The Spy Who Loved Me              Lewis Gilbert       533.0    45.1
The World Is Not Enough           Michael Apted       439.5   158.3
Thunderball                       Terence Young       848.1    41.9

In [67]:
bond_5.loc['Moonraker':,'Director':]

,Director,Box Office,Budget,Bond Actor Salary
Film,,,,
Moonraker,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,Irvin Kershner,380.0,86.0,NaN
Octopussy,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,Marc Forster,514.2,181.4,8.1
Skyfall,Sam Mendes,943.5,170.2,14.5
Spectre,Sam Mendes,726.7,206.3,NaN
The Living Daylights,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,Michael Apted,439.5,158.3,13.5
Thunderball,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,Lewis Gilbert,514.2,59.9,4.4

In [68]:
bond_5.loc[:'Moonraker',:'Budget']

,Year,Actor,Director,Box Office,Budget
Film,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5

In [70]:
#same logic for iloc except we'll provide numeric indexes
bond_5.iloc[14,2]

'John Glen'

In [71]:
bond_5.iloc[14,2:5]

Director      John Glen
Box Office        373.8
Budget             53.9
Name: Octopussy, dtype: object

In [72]:
bond_5.iloc[[14,17],2:5]

             Director  Box Office  Budget
Film
Octopussy   John Glen       373.8    53.9
Skyfall    Sam Mendes       943.5   170.2

In [73]:
bond_5.iloc[[14,17],[2,5]]

             Director  Bond Actor Salary
Film
Octopussy   John Glen                7.8
Skyfall    Sam Mendes               14.5

In [75]:
bond_5.iloc[:7,[2,4]]

                             Director  Budget
Film
A View to a Kill            John Glen    54.5
Casino Royale         Martin Campbell   145.3
Casino Royale              Ken Hughes    85.0
Diamonds Are Forever     Guy Hamilton    34.7
Die Another Day          Lee Tamahori   154.2
Dr. No                  Terence Young     7.0
For Your Eyes Only          John Glen    60.2

In [77]:
bond_5.iloc[:7,:3]

                      Year           Actor         Director
Film
A View to a Kill      1985     Roger Moore        John Glen
Casino Royale         2006    Daniel Craig  Martin Campbell
Casino Royale         1967     David Niven       Ken Hughes
Diamonds Are Forever  1971    Sean Connery     Guy Hamilton
Die Another Day       2002  Pierce Brosnan     Lee Tamahori
Dr. No                1962    Sean Connery    Terence Young
For Your Eyes Only    1981     Roger Moore        John Glen

## Set New Value for a Specific Cell

In [78]:
bond_5.loc['Dr. No','Actor']

'Sean Connery'

In [80]:
# we want to change the actor's name
bond_5.loc['Dr. No','Actor']='Sir Sean Connery'
bond_5.loc['Dr. No','Actor']

'Sir Sean Connery'

In [82]:

bond_5.loc['Dr. No',['Box Office','Budget','Bond Actor Salary']]

Box Office           448.8
Budget                 7.0
Bond Actor Salary      0.6
Name: Dr. No, dtype: object

In [83]:
#How can we override multiple values
#we need to provide list on RHS
bond_5.loc['Dr. No',['Box Office','Budget','Bond Actor Salary']]=[440000,700000,60000]
bond_5.loc['Dr. No',['Box Office','Budget','Bond Actor Salary']]

Box Office           440000.0
Budget               700000.0
Bond Actor Salary     60000.0
Name: Dr. No, dtype: object

### Set Multiple Values in DataFrame

In [85]:
# we want to change every occurence of 'Sean Connery' to 'Sir Sean Connery'
#as earlier we did for a specific row only
# how can we do for all occurences of 'Sean Connery'
bond_5['Actor']=='Sean Connery'
#we can get boolean series

Film
A View to a Kill                   False
Casino Royale                      False
Casino Royale                      False
Diamonds Are Forever                True
Die Another Day                    False
Dr. No                             False
For Your Eyes Only                 False
From Russia with Love               True
GoldenEye                          False
Goldfinger                          True
Licence to Kill                    False
Live and Let Die                   False
Moonraker                          False
Never Say Never Again               True
Octopussy                          False
On Her Majesty's Secret Service    False
Quantum of Solace                  False
Skyfall                            False
Spectre                            False
The Living Daylights               False
The Man with the Golden Gun        False
The Spy Who Loved Me               False
The World Is Not Enough            False
Thunderball                         True
Tomorrow Never Dies                False
You Only Live Twice                 True
Name: Actor, dtype: bool

#### WRONG WAY OF DOING THIS

In [86]:
actor_is_sean_connery=bond_5['Actor']=='Sean Connery'

In [88]:
bond_5[actor_is_sean_connery]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [89]:
bond_5[actor_is_sean_connery]['Actor']='Sir Sean Connery'
#issue here is whenever we extract subset using square bracket
# we are creating a brand new dataframe 
#we are taking original rows from Bond_5 and pulling them out to a copy
#and we're storing copy elsewhere
#and of course we dont have even have it assigned to a variable ,it is completely lost
#But the original values in the 'Actor' column in Bond_5 have not been affected
# as we're targetting a separate dataframe, a separate subset which is a copy of original dataframe which has less rows

C:\Users\hp\AppData\Local\Temp\ipykernel_21020\2093082310.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bond_5[actor_is_sean_connery]['Actor']='Sir Sean Connery'

In [90]:
bond_5

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sir Sean Connery,Terence Young,440000.0,700000.0,60000.0
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

#### RIGHT WAY OF DOING

In [92]:
# as suggested by warning correct way is to use .loc[]
bond_5.loc[actor_is_sean_connery,'Actor']
#this is reference to original dataframe
#we're not creating copy we're extracting original rows
#as we are using .loc we're connected to original DF

Film
Diamonds Are Forever     Sean Connery
From Russia with Love    Sean Connery
Goldfinger               Sean Connery
Never Say Never Again    Sean Connery
Thunderball              Sean Connery
You Only Live Twice      Sean Connery
Name: Actor, dtype: object

In [93]:
bond_5.loc[actor_is_sean_connery,'Actor']='Sir Sean Connery'

In [95]:
bond_5
#Whenever we use Bond_5[] We are extracting a copy, a separate dataframe
#We are extracting a slice that is separate object in computer's memory
# Whenever we use Bond_5.loc[] we're referencing existing row or rows in our original dataframe

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sir Sean Connery,Terence Young,440000.0,700000.0,60000.0
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4

### Rename Index Labels or Columns in a ```DataFrame```

``` 
Signature:
bond_5.rename(
    mapper: 'Renamer | None' = None,
    *,
    index: 'Renamer | None' = None,
    columns: 'Renamer | None' = None,
    axis: 'Axis | None' = None,
    copy: 'bool | None' = None,
    inplace: 'bool' = False,
    level: 'Level' = None,
    errors: 'IgnoreRaise' = 'ignore',
) -> 'DataFrame | None'
Docstring:
Alter axes labels.
```

In [96]:
bond_5.rename(mapper={'GoldenEye':'Golden Eye',
                      'The World Is Not Enough':'Best Bond Movie Ever'
                     }) 
#to override mulltiple labels provide multiple key vallue pairs
#by default axis is row
#axis=0 row, axis='rows',axis='index'
#instead of mapper we can write index
# bond_5.rename(index={'GoldenEye':'Golden Eye',
#                       'The World Is Not Enough':'Best Bond Movie Ever'
#                      })

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sir Sean Connery,Terence Young,440000.0,700000.0,60000.0
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Golden Eye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Best Bond Movie Ever,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [97]:
bond_5.rename(mapper={'Year':'Release Date','Box Office':'Revenue'}
             ,axis=1) #renaming columns

,Release Date,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sir Sean Connery,Terence Young,440000.0,700000.0,60000.0
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [98]:
#another strategy to rename columns
bond_5.columns #we can override this

Index(['Year', 'Actor', 'Director', 'Box Office', 'Budget',
       'Bond Actor Salary'],
      dtype='object')

In [99]:
bond_5.columns=['Year of Release','Actor','Director','Box Office','Cost','Salary']

In [100]:
bond_5.columns

Index(['Year of Release', 'Actor', 'Director', 'Box Office', 'Cost', 'Salary'], dtype='object')

### Delete Rows or COlumns from a DataFrame

In [2]:
bond_6=pd.read_csv('jamesbond.csv',index_col='Film')
bond_6.sort_index(inplace=True)
bond_6.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [3]:
bond_6.drop('A View to a Kill').head(10) #deletes this row

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9

In [4]:
bond_6.drop(['A View to a Kill','Die Another Day','Goldfinger']).head(10)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN

In [5]:
bond_6.drop('Casino Royale') #to make changes in df inplace=True

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [7]:
bond_6.drop('Box Office',axis=1) #or axis='columns'

,Year,Actor,Director,Budget,Bond Actor Salary
Film,,,,,
A View to a Kill,1985,Roger Moore,John Glen,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,59.9,4.4

In [8]:
#to remove multiple columns
bond_6.drop(['Box Office','Bond Actor Salary','Actor'],axis=1) #or axis='columns'

                                 Year            Director  Budget
Film
A View to a Kill                 1985           John Glen    54.5
Casino Royale                    2006     Martin Campbell   145.3
Casino Royale                    1967          Ken Hughes    85.0
Diamonds Are Forever             1971        Guy Hamilton    34.7
Die Another Day                  2002        Lee Tamahori   154.2
Dr. No                           1962       Terence Young     7.0
For Your Eyes Only               1981           John Glen    60.2
From Russia with Love            1963       Terence Young    12.6
GoldenEye                        1995     Martin Campbell    76.9
Goldfinger                       1964        Guy Hamilton    18.6
Licence to Kill                  1989           John Glen    56.7
Live and Let Die                 1973        Guy Hamilton    30.8
Moonraker                        1979       Lewis Gilbert    91.5
Never Say Never Again            1983      Irvin Kershner    86.0
Octopussy                        1983           John Glen    53.9
On Her Majesty's Secret Service  1969       Peter R. Hunt    37.3
Quantum of Solace                2008        Marc Forster   181.4
Skyfall                          2012          Sam Mendes   170.2
Spectre                          2015          Sam Mendes   206.3
The Living Daylights             1987           John Glen    68.8
The Man with the Golden Gun      1974        Guy Hamilton    27.7
The Spy Who Loved Me             1977       Lewis Gilbert    45.1
The World Is Not Enough          1999       Michael Apted   158.3
Thunderball                      1965       Terence Young    41.9
Tomorrow Never Dies              1997  Roger Spottiswoode   133.9
You Only Live Twice              1967       Lewis Gilbert    59.9

In [9]:
actor=bond_6.pop('Actor')
actor

Film
A View to a Kill                      Roger Moore
Casino Royale                        Daniel Craig
Casino Royale                         David Niven
Diamonds Are Forever                 Sean Connery
Die Another Day                    Pierce Brosnan
Dr. No                               Sean Connery
For Your Eyes Only                    Roger Moore
From Russia with Love                Sean Connery
GoldenEye                          Pierce Brosnan
Goldfinger                           Sean Connery
Licence to Kill                    Timothy Dalton
Live and Let Die                      Roger Moore
Moonraker                             Roger Moore
Never Say Never Again                Sean Connery
Octopussy                             Roger Moore
On Her Majesty's Secret Service    George Lazenby
Quantum of Solace                    Daniel Craig
Skyfall                              Daniel Craig
Spectre                              Daniel Craig
The Living Daylights               Timothy Dalton
The Man with the Golden Gun           Roger Moore
The Spy Who Loved Me                  Roger Moore
The World Is Not Enough            Pierce Brosnan
Thunderball                          Sean Connery
Tomorrow Never Dies                Pierce Brosnan
You Only Live Twice                  Sean Connery
Name: Actor, dtype: object

In [10]:
del bond_6['Director']
#deletes column from df

In [11]:
bond_6

                                 Year  Box Office  Budget  Bond Actor Salary
Film
A View to a Kill                 1985       275.2    54.5                9.1
Casino Royale                    2006       581.5   145.3                3.3
Casino Royale                    1967       315.0    85.0                NaN
Diamonds Are Forever             1971       442.5    34.7                5.8
Die Another Day                  2002       465.4   154.2               17.9
Dr. No                           1962       448.8     7.0                0.6
For Your Eyes Only               1981       449.4    60.2                NaN
From Russia with Love            1963       543.8    12.6                1.6
GoldenEye                        1995       518.5    76.9                5.1
Goldfinger                       1964       820.4    18.6                3.2
Licence to Kill                  1989       250.9    56.7                7.9
Live and Let Die                 1973       460.3    30.8                NaN
Moonraker                        1979       535.0    91.5                NaN
Never Say Never Again            1983       380.0    86.0                NaN
Octopussy                        1983       373.8    53.9                7.8
On Her Majesty's Secret Service  1969       291.5    37.3                0.6
Quantum of Solace                2008       514.2   181.4                8.1
Skyfall                          2012       943.5   170.2               14.5
Spectre                          2015       726.7   206.3                NaN
The Living Daylights             1987       313.5    68.8                5.2
The Man with the Golden Gun      1974       334.0    27.7                NaN
The Spy Who Loved Me             1977       533.0    45.1                NaN
The World Is Not Enough          1999       439.5   158.3               13.5
Thunderball                      1965       848.1    41.9                4.7
Tomorrow Never Dies              1997       463.2   133.9               10.0
You Only Live Twice              1967       514.2    59.9                4.4

## Create Random Sample

In [13]:
bond_7=pd.read_csv('jamesbond.csv',index_col='Film')
bond_7.sort_index(inplace=True)
bond_7.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [14]:
bond_7.sample(n=5)#sample random returned

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN

In [15]:
bond_7.sample(frac=.25) #extracts 25% of dataframe

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN

In [16]:
bond_7.sample(n=3,axis=0)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [19]:
bond_7.sample(n=3,axis='rows')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN

In [20]:
bond_7.sample(n=3,axis='index')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1

In [17]:
bond_7.sample(n=3,axis=1) #extracts random columns

                                 Year  Box Office            Director
Film
A View to a Kill                 1985       275.2           John Glen
Casino Royale                    2006       581.5     Martin Campbell
Casino Royale                    1967       315.0          Ken Hughes
Diamonds Are Forever             1971       442.5        Guy Hamilton
Die Another Day                  2002       465.4        Lee Tamahori
Dr. No                           1962       448.8       Terence Young
For Your Eyes Only               1981       449.4           John Glen
From Russia with Love            1963       543.8       Terence Young
GoldenEye                        1995       518.5     Martin Campbell
Goldfinger                       1964       820.4        Guy Hamilton
Licence to Kill                  1989       250.9           John Glen
Live and Let Die                 1973       460.3        Guy Hamilton
Moonraker                        1979       535.0       Lewis Gilbert
Never Say Never Again            1983       380.0      Irvin Kershner
Octopussy                        1983       373.8           John Glen
On Her Majesty's Secret Service  1969       291.5       Peter R. Hunt
Quantum of Solace                2008       514.2        Marc Forster
Skyfall                          2012       943.5          Sam Mendes
Spectre                          2015       726.7          Sam Mendes
The Living Daylights             1987       313.5           John Glen
The Man with the Golden Gun      1974       334.0        Guy Hamilton
The Spy Who Loved Me             1977       533.0       Lewis Gilbert
The World Is Not Enough          1999       439.5       Michael Apted
Thunderball                      1965       848.1       Terence Young
Tomorrow Never Dies              1997       463.2  Roger Spottiswoode
You Only Live Twice              1967       514.2       Lewis Gilbert

In [18]:
bond_7.sample(n=3,axis='columns')

                                 Bond Actor Salary  Box Office           Actor
Film
A View to a Kill                               9.1       275.2     Roger Moore
Casino Royale                                  3.3       581.5    Daniel Craig
Casino Royale                                  NaN       315.0     David Niven
Diamonds Are Forever                           5.8       442.5    Sean Connery
Die Another Day                               17.9       465.4  Pierce Brosnan
Dr. No                                         0.6       448.8    Sean Connery
For Your Eyes Only                             NaN       449.4     Roger Moore
From Russia with Love                          1.6       543.8    Sean Connery
GoldenEye                                      5.1       518.5  Pierce Brosnan
Goldfinger                                     3.2       820.4    Sean Connery
Licence to Kill                                7.9       250.9  Timothy Dalton
Live and Let Die                               NaN       460.3     Roger Moore
Moonraker                                      NaN       535.0     Roger Moore
Never Say Never Again                          NaN       380.0    Sean Connery
Octopussy                                      7.8       373.8     Roger Moore
On Her Majesty's Secret Service                0.6       291.5  George Lazenby
Quantum of Solace                              8.1       514.2    Daniel Craig
Skyfall                                       14.5       943.5    Daniel Craig
Spectre                                        NaN       726.7    Daniel Craig
The Living Daylights                           5.2       313.5  Timothy Dalton
The Man with the Golden Gun                    NaN       334.0     Roger Moore
The Spy Who Loved Me                           NaN       533.0     Roger Moore
The World Is Not Enough                       13.5       439.5  Pierce Brosnan
Thunderball                                    4.7       848.1    Sean Connery
Tomorrow Never Dies                           10.0       463.2  Pierce Brosnan
You Only Live Twice                            4.4       514.2    Sean Connery

## The ```.nsmallest()``` and ```.nlargest()``` methods

In [21]:
# we want to extract 3 movies with largest box offc gross
#we can sort
bond_7.sort_values('Box Office',ascending=False).head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [22]:
#another approach is use nlargest
bond_7.nlargest(3,columns='Box Office')
#optimal that sorting the entire df

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [24]:
bond_7.nsmallest(3,columns='Box Office')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6

In [26]:
#3 movies with largest budget
bond_7.nlargest(3,columns='Budget')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5

In [27]:
#6 actors with least bond salary
bond_7.nsmallest(6,columns='Bond Actor Salary')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [28]:
# we can call .nlargest() directly on series
bond_7['Box Office'].nlargest(8)

Film
Skyfall                  943.5
Thunderball              848.1
Goldfinger               820.4
Spectre                  726.7
Casino Royale            581.5
From Russia with Love    543.8
Moonraker                535.0
The Spy Who Loved Me     533.0
Name: Box Office, dtype: float64

In [29]:
bond_7['Year'].nsmallest(2)

Film
Dr. No                   1962
From Russia with Love    1963
Name: Year, dtype: int64

## Filtering with the ```where``` method

In [32]:
#those rows which match condition will be returned with values
#rest all rows with Nan values
#extract rows where actor is sean connery
mask=bond_7['Actor']=='Sean Connery'
mask

Film
A View to a Kill                   False
Casino Royale                      False
Casino Royale                      False
Diamonds Are Forever                True
Die Another Day                    False
Dr. No                              True
For Your Eyes Only                 False
From Russia with Love               True
GoldenEye                          False
Goldfinger                          True
Licence to Kill                    False
Live and Let Die                   False
Moonraker                          False
Never Say Never Again               True
Octopussy                          False
On Her Majesty's Secret Service    False
Quantum of Solace                  False
Skyfall                            False
Spectre                            False
The Living Daylights               False
The Man with the Golden Gun        False
The Spy Who Loved Me               False
The World Is Not Enough            False
Thunderball                         True
Tomorrow Never Dies                False
You Only Live Twice                 True
Name: Actor, dtype: bool

In [34]:
bond_7.where(mask)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,1971.0,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,1962.0,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,1963.0,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,1983.0,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,NaN,NaN,NaN,NaN,NaN,NaN
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,1967.0,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [35]:
#show rows having box office gross greater than 800
bond_7.where(bond_7['Box Office']>800)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,NaN,NaN,NaN,NaN,NaN,NaN
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,NaN,NaN,NaN,NaN,NaN,NaN
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,NaN,NaN,NaN,NaN,NaN,NaN
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,NaN,NaN,NaN,NaN,NaN,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,2012.0,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
mask2=bond_7['Box Office']>800

In [38]:
bond_7.where(mask & mask2) #multiple conditions applied

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,NaN,NaN,NaN,NaN,NaN,NaN
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,NaN,NaN,NaN,NaN,NaN,NaN
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,NaN,NaN,NaN,NaN,NaN,NaN
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,NaN,NaN,NaN,NaN,NaN,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,NaN,NaN,NaN,NaN,NaN,NaN
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,NaN,NaN,NaN,NaN,NaN,NaN

## The ```.query()``` Method

In [39]:
#query method argument is string
#this method only works when our column names in df dont have any spaces

In [40]:
bond_7.columns

Index(['Year', 'Actor', 'Director', 'Box Office', 'Budget',
       'Bond Actor Salary'],
      dtype='object')

In [43]:
bond_7.columns=[column_name.replace(' ','_') for column_name in bond_7.columns]

In [44]:
bond_7.head(3)

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [47]:
bond_7.query('Actor=="Sean Connery"')
#faster than standard syntax specially for larger dataframes

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [48]:
bond_7.query('Director=="Terence Young"')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

In [49]:
bond_7.query('Actor!="Roger Moore"')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [50]:
bond_7.query('Box_Office>600')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

In [53]:
bond_7.query('Actor=="Roger Moore" and Director=="John Glen"')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8

In [54]:
bond_7.query('Actor=="Roger Moore" or Director=="John Glen"')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN

In [55]:
bond_7.query('Actor in ["Timothy Dalton","George Lazenby"]')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2

In [56]:
bond_7.query('Actor not in ["Timothy Dalton","George Lazenby"]')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

## A REVIEW OF THE ```.apply()``` METHOD ON SINGLE COLUMNS

In [57]:
bond_8=pd.read_csv('jamesbond.csv',index_col='Film')
bond_8.sort_index(inplace=True)
bond_8.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [58]:
def convert_to_string_and_add_millions(number):
    return str(number)+" Millions"

In [59]:
bond_8['Budget'].apply(convert_to_string_and_add_millions)

Film
A View to a Kill                    54.5 Millions
Casino Royale                      145.3 Millions
Casino Royale                       85.0 Millions
Diamonds Are Forever                34.7 Millions
Die Another Day                    154.2 Millions
Dr. No                               7.0 Millions
For Your Eyes Only                  60.2 Millions
From Russia with Love               12.6 Millions
GoldenEye                           76.9 Millions
Goldfinger                          18.6 Millions
Licence to Kill                     56.7 Millions
Live and Let Die                    30.8 Millions
Moonraker                           91.5 Millions
Never Say Never Again               86.0 Millions
Octopussy                           53.9 Millions
On Her Majesty's Secret Service     37.3 Millions
Quantum of Solace                  181.4 Millions
Skyfall                            170.2 Millions
Spectre                            206.3 Millions
The Living Daylights                68.8 Millions
The Man with the Golden Gun         27.7 Millions
The Spy Who Loved Me                45.1 Millions
The World Is Not Enough            158.3 Millions
Thunderball                         41.9 Millions
Tomorrow Never Dies                133.9 Millions
You Only Live Twice                 59.9 Millions
Name: Budget, dtype: object

In [61]:
bond_8['Box Office']=bond_8['Box Office'].apply(convert_to_string_and_add_millions)

In [62]:
bond_8.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2 Millions,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5 Millions,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0 Millions,85.0,NaN

In [66]:
#we can do same opn in more elegant way
columns=['Box_Office','Budget','Bond_Actor_Salary']
for col in columns:
    bond_7[col]=bond_7[col].apply(convert_to_string_and_add_millions)

In [67]:
bond_7.head(3)

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2 Millions,54.5 Millions,9.1 Millions
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5 Millions,145.3 Millions,3.3 Millions
Casino Royale,1967,David Niven,Ken Hughes,315.0 Millions,85.0 Millions,nan Millions

## The ```.apply()``` method with Row Values

In [68]:
bond_9=pd.read_csv('jamesbond.csv',index_col='Film')
bond_9.sort_index(inplace=True)
bond_9.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [69]:
#we want to create a separate column say review based on combination of row values
def good_movie(row): #row taken as list
    actor=row[1]
    budget=row[4]
    if actor=='Pierce Brosnan':
        return 'The best'
    elif actor=='Roger Moore' and budget>40:
        return 'Enjoyable'
    else:
        return 'I have no clue'
bond_9.apply(good_movie,axis='columns') #we need to pass row to the function
#we dont want to apply it to every value in column
#we want to apply horizantally i.e. row wise

Film
A View to a Kill                        Enjoyable
Casino Royale                      I have no clue
Casino Royale                      I have no clue
Diamonds Are Forever               I have no clue
Die Another Day                          The best
Dr. No                             I have no clue
For Your Eyes Only                      Enjoyable
From Russia with Love              I have no clue
GoldenEye                                The best
Goldfinger                         I have no clue
Licence to Kill                    I have no clue
Live and Let Die                   I have no clue
Moonraker                               Enjoyable
Never Say Never Again              I have no clue
Octopussy                               Enjoyable
On Her Majesty's Secret Service    I have no clue
Quantum of Solace                  I have no clue
Skyfall                            I have no clue
Spectre                            I have no clue
The Living Daylights               I have no clue
The Man with the Golden Gun        I have no clue
The Spy Who Loved Me                    Enjoyable
The World Is Not Enough                  The best
Thunderball                        I have no clue
Tomorrow Never Dies                      The best
You Only Live Twice                I have no clue
dtype: object

In [70]:
bond_9['Review']=bond_9.apply(good_movie,axis='columns')

In [72]:
bond_9.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary,Review
Film,,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1,Enjoyable
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3,I have no clue
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN,I have no clue
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8,I have no clue
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9,The best

## The ```.copy()``` Method

In [73]:
bond_10=pd.read_csv('jamesbond.csv',index_col='Film')
bond_10.sort_index(inplace=True)
bond_10.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [84]:
#copy method is the exact copy of an existing pandas object i.e. df or series
# but stores it completely separately in memory
bond_10['Director']

Film
A View to a Kill                     Mister John Glen
Casino Royale                         Martin Campbell
Casino Royale                              Ken Hughes
Diamonds Are Forever                     Guy Hamilton
Die Another Day                          Lee Tamahori
Dr. No                                  Terence Young
For Your Eyes Only                          John Glen
From Russia with Love                   Terence Young
GoldenEye                             Martin Campbell
Goldfinger                               Guy Hamilton
Licence to Kill                             John Glen
Live and Let Die                         Guy Hamilton
Moonraker                               Lewis Gilbert
Never Say Never Again                  Irvin Kershner
Octopussy                                   John Glen
On Her Majesty's Secret Service         Peter R. Hunt
Quantum of Solace                        Marc Forster
Skyfall                                    Sam Mendes
Spectre                                    Sam Mendes
The Living Daylights                        John Glen
The Man with the Golden Gun              Guy Hamilton
The Spy Who Loved Me                    Lewis Gilbert
The World Is Not Enough                 Michael Apted
Thunderball                             Terence Young
Tomorrow Never Dies                Roger Spottiswoode
You Only Live Twice                     Lewis Gilbert
Name: Director, dtype: object

In [81]:
directors=bond_10['Director']
directors.head(3)

Film
A View to a Kill          John Glen
Casino Royale       Martin Campbell
Casino Royale            Ken Hughes
Name: Director, dtype: object

In [82]:
directors['A View to a Kill']='Mister John Glen'

C:\Users\hp\AppData\Local\Temp\ipykernel_10724\3988784101.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  directors['A View to a Kill']='Mister John Glen'

In [79]:
directors.head(3)

Film
A View to a Kill    Mister John Glen
Casino Royale        Martin Campbell
Casino Royale             Ken Hughes
Name: Director, dtype: object

In [83]:
bond_10.head(3)
#this modifies the original df 
# but what if we want to perform 15 diff opns but we dont want to keep overriding the original values
#and loose track of what we were originally storing
#we can create a copy of original df

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,Mister John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [85]:
bond_10['Director'].copy() 
#brand new separated and isolated series
#and is not referenced to bond_10 df

Film
A View to a Kill                     Mister John Glen
Casino Royale                         Martin Campbell
Casino Royale                              Ken Hughes
Diamonds Are Forever                     Guy Hamilton
Die Another Day                          Lee Tamahori
Dr. No                                  Terence Young
For Your Eyes Only                          John Glen
From Russia with Love                   Terence Young
GoldenEye                             Martin Campbell
Goldfinger                               Guy Hamilton
Licence to Kill                             John Glen
Live and Let Die                         Guy Hamilton
Moonraker                               Lewis Gilbert
Never Say Never Again                  Irvin Kershner
Octopussy                                   John Glen
On Her Majesty's Secret Service         Peter R. Hunt
Quantum of Solace                        Marc Forster
Skyfall                                    Sam Mendes
Spectre                                    Sam Mendes
The Living Daylights                        John Glen
The Man with the Golden Gun              Guy Hamilton
The Spy Who Loved Me                    Lewis Gilbert
The World Is Not Enough                 Michael Apted
Thunderball                             Terence Young
Tomorrow Never Dies                Roger Spottiswoode
You Only Live Twice                     Lewis Gilbert
Name: Director, dtype: object

In [87]:
directors_=bond_10['Director'].copy() 
directors_.head(3)

Film
A View to a Kill    Mister John Glen
Casino Royale        Martin Campbell
Casino Royale             Ken Hughes
Name: Director, dtype: object

In [88]:
directors_['A View to a Kill']='Mister John Glen'

In [90]:
directors_.head(3) # this obj or series modified

Film
A View to a Kill    Mister John Glen
Casino Royale        Martin Campbell
Casino Royale             Ken Hughes
Name: Director, dtype: object

In [89]:
bond_10.head(3) #original df not modified

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,Mister John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN